<form class="well form-inline">
	<input type="text" name="name" class="input-small" placeholder="Name">
	<input type="text" name="part" class="input-small" placeholder="Part">
	<button type="button" class="btn add_btn">Add</button>
</form>